/* This is
a multi-linecomment */

header{

background-color: #6B9080;
text-align: center;
padding: 50px;

}

nav{

  background-color: rgb(131, 221, 191);
  text-align: center;
  padding: 20px;

}

a{

  padding: 10px;

}

.navLinks:hover{

  background-color: rgb(170, 221, 204);

}

li{ 
  display:inline; /**/
  float: center; /*Makes the block elemets float next to each other*/
}

ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


p{
    color: #000000;
    margin: 50px;
   
}

section{

    background-color:#CCE3DE;
    font-size: 20px;
    width: 65%;
    margin: 20px; 
    padding: 5px;

  }

article{

    background-color:#CCE3DE;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
    width: 65%

}

body{

    background-color:#EAF4F4;

}

aside {
  width: 30%;
  padding-left: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  float: right;
  background-color: lightgray;
  font-size: 18px;
  
  /* Don't forget that our padding, font, and marging should be consistent
  on all 3 pages. You can choose if you want and I could follow you.
  */
}


footer{
    background-color:#7eac98;
    text-align: center;
    padding: 30px;

}

.logo{

  position:absolute;
  right: -2em;
  top: -1em;

}


.iconText{
  /* https://www.w3.org/Style/Examples/007/figures.en.html */

  text-align: center;

}

figure{

  /* https://forum.freecodecamp.org/t/why-doesnt-figure-not-align-with-everything-else-by-default-just-curious/230765 */
  margin: 0px;

}
