/* colour palette from: https://coolors.co/palette/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8 */

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width:100%;
}

tr:nth-child(2n){
    background-color: #6B9080;
}

/* Use of information for the design of nav bar and table https://www.w3schools.com/css/css_navbar_horizontal.asp and https://www.w3schools.com/html/html_tables.asp*/
li{ 
    display:inline; /**/
    float: center; /*Makes the block elemets float next to each other*/
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

a{
    padding: 10px;
}

header{

    background-color: #6B9080;
    text-align: center;
    padding: 50px;

}

nav{

    text-align: center;
    background-color: rgb(153, 148, 119);
    padding: 20px;

}

a:hover{

    background-color: rgb(133, 128, 100);
    
}

section p{
    width:400px;
    border: 50px;
    padding: 25px;;
    margin: 20px;
    background-color: #CCE3DE;
}

aside{ /* Secondary content, dont need main to understand*/
    width:400px;
    border: 50px;
    padding: 25px;;
    margin: 20px;
    background-color: lightgray; 
}

body{
    background-color: #EAF4F4;
}

footer{
    background-color:#7eac98;
    text-align: center;
    padding: 30px;
}